html {
  /* csslint ignore:start */
  /* The nav header is 3.5rem high, plus 20px for the margin-top of the
       main container. */
  scroll-padding-top: calc(3.5rem + 20px);
  /* csslint ignore:end */
}

/* .nav-item a {
    color:  #313131;
}

.nav-item a:hover {
    color:  #AB256F;
} */

#banner {
  width: 600px;
  height: 338px;
}

a {
  color: #ab256f;
}

a:hover {
  color: #25a6ab;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(171, 37, 111, 0.87);
}

.dropdown-menu .dropdown-item.active {
  background-color: #ab256f;
}

#gopher-contrib {
  width: 300px;
  float: right;
  background-color: transparent !important;
  border: none;
}

#gopher-concepts {
  width: 200px;
  float: right;
  background-color: transparent !important;
  border: none;
  text-align: center;
}

#gopher-left {
  width: 300px;
  float: left;
  background-color: transparent !important;
  border: none;
}

#icon-left {
  width: 200px;
  float: left;
  padding: 2em;
  background-color: transparent !important;
  border: none;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: rgb(90, 90, 90);
}

body {
  font-family: 'Jost', sans-serif;
}
/* Replacement for `body { background-attachment: fixed; }`, which has
   performance issues when scrolling on large displays. See #1394. */
body::before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  background: url(../img/grid.png) repeat-x;
  will-change: transform;
  z-index: -1;
}

body > .container {
  margin-top: 20px;
  min-height: 400px;
}

.navbar.fixed-top {
  /* csslint allow: adjoining-classes */
  /* csslint ignore:start */
  position: -webkit-sticky;
  position: sticky;
  /* csslint ignore:end */
}

.source-links {
  float: right;
}

.col-md-9 img {
  max-width: 100%;
  display: inline-block;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: auto auto 30px auto;
}

h1 {
  color: #444;
  font-weight: 400;
  font-size: 36px;
  font-family: 'Jost', sans-serif;
}

h2,
h3,
h4,
h5 {
  color: #444;
  font-weight: 300;
  font-family: 'Jost', sans-serif;
}

h6 {
  color: #ab256f;
  font-family: 'Jost', sans-serif;
}

hr {
  border-top: 0.5px solid rgba(170, 170, 170, 0.466);
}

.mini-text {
  font-size: 14px;
}

.micro-text-grey {
  font-size: 14px;
  color: rgb(102, 102, 102);
}

pre,
.rst-content tt {
  max-width: 100%;
  background: #fff;
  border: solid 1px rgb(233, 233, 233);
  border-radius: 5px;
  padding: 5px;
  overflow-x: auto;
}

code.code-large,
.rst-content tt.code-large {
  font-size: 90%;
}

code {
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.671);
  border: solid 1px #e1e4e5;
  border-radius: 2px !important;
  color: #ab256f;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 14px;
}

pre code {
  display: block;
  background: transparent;
  border: none;
  white-space: pre;
  word-wrap: normal;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo, monospace;
  font-size: 15px;
}

h4 > code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo, monospace;
}

h5 > code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo, monospace !important;
}

h6 > code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo, monospace !important;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

a code {
  color: #25a6ab;
}

a:hover code,
a:focus code {
  color: rgb(252, 160, 86) !important;
}

footer {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 200;
}

.navbar {
  background-image: none !important;
  background-color: white !important;
  box-shadow: #eee 5px 2px 5px 2px;
  background-repeat: no-repeat;
}

.navbar-dark .navbar-nav .nav-link {
  color: #424242;
}

.navbar-dark .navbar-nav .show > .nav-link {
  color: rgb(148, 148, 148);
}

.navbar-nav .active > .nav-link:focus {
  color: #25a6ab;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #ab256f;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ab256f;
}

/**
* Mobile view nambar things
*/
.navbar-dark .navbar-toggler {
  color: #6d6d6d !important;
  border: none !important;
}

.modal-dialog {
  margin-top: 60px;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

.bs-sidebar.affix {
  /* csslint allow: adjoining-classes */
  /* csslint ignore:start */
  position: -webkit-sticky;
  position: sticky;
  /* csslint ignore:end */
  /* The nav header is 3.5rem high, plus 20px for the margin-top of the
       main container. */
  top: calc(3.5rem + 20px);
}

.bs-sidebar.card {
  /* csslint allow: adjoining-classes */
  padding: 0;
  max-height: 90%;
  overflow-y: auto;
}

/* Toggle (vertically flip) sidebar collapse icon */
.bs-sidebar .navbar-toggler span {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.bs-sidebar .navbar-toggler.collapsed span {
  /* csslint allow: adjoining-classes */
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.navbar-toggler:focus {
  border-color: rgb(171, 37, 111);
  box-shadow: 0 1px 1px rgba(124, 124, 124, 0.075) inset,
    0 0 8px rgba(171, 37, 111, 0.6);
  outline: 0 none;
}

.navbar-collapse.card {
  margin-top: 1em !important;
  background-color: rgba(255, 255, 255, 0.322) !important;
}

/* First level of nav */
.bs-sidebar > .navbar-collapse > .nav {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  padding: 5px 20px;
  z-index: 1;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  border-right: 1px solid;
}
.bs-sidebar .nav > li > a.active,
.bs-sidebar .nav > li > a.active:hover,
.bs-sidebar .nav > li > a.active:focus {
  font-weight: bold;
  background-color: transparent;
  border-right: 1px solid;
}

.bs-sidebar .nav .nav .nav {
  margin-left: 1em;
}

.bs-sidebar .nav > li > a {
  font-weight: bold;
}

.bs-sidebar .nav .nav > li > a {
  font-weight: normal;
}

.headerlink {
  font-family: FontAwesome;
  font-size: 14px;
  display: none;
  padding-left: 0.5em;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
  display: inline-block;
}

.admonition {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: left;
}

.admonition.glance {
  color: #c747a7;
  background-color: #c747a718;
  border-color: #e7b3da;
}

.admonition.quote {
  color: #c77047;
  background-color: #c7704718;
  border-color: #e4c0b0;
}

.admonition.exercise {
  color: #8347c7;
  background-color: #8347c718;
  border-color: #cdb4e9;
}

.admonition.note {
  /* csslint allow: adjoining-classes */
  color: #479cc7;
  background-color: #479cc718;
  border-color: #bce8f1;
}

.admonition.warning {
  /* csslint allow: adjoining-classes */
  color: #c09853;
  background-color: #c0985318;
  border-color: #fbeed5;
}

.admonition.danger {
  /* csslint allow: adjoining-classes */
  color: #b94a48;
  background-color: #b94a4818;
  border-color: #eed3d7;
}

.admonition.success {
  /* csslint allow: adjoining-classes */
  color: #48b957;
  background-color: #48b95718;
  border-color: #bae2c7;
}

.admonition-title {
  font-weight: bold;
  text-align: left;
}

@media (max-width: 991.98px) {
  .navbar-collapse.show {
    /* csslint allow: adjoining-classes */
    overflow-y: auto;
    max-height: calc(100vh - 3.5rem);
  }

  #banner {
    width: 400px;
    height: 225px;
  }
}

@media (max-width: 720px) {
  #banner {
    width: 400px;
    height: 225px;
  }
}

@media (max-width: 580px) {
  #banner {
    width: 400px;
    height: 215px;
  }
}

.dropdown-item.open {
  /* csslint allow: adjoining-classes */
  color: #fff;
  background-color: #b94a48;
}

.dropdown-submenu > .dropdown-menu {
  margin: 0 0 0 1.5rem;
  padding: 0;
  border-width: 0;
}

.dropdown-submenu > a::after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a::after {
  border-left-color: #fff;
}

@media (min-width: 992px) {
  .dropdown-menu {
    overflow-y: auto;
    max-height: calc(100vh - 3.5rem);
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    /* csslint ignore:start */
    position: fixed !important;
    /* csslint ignore:end */
    margin-top: -9px;
    margin-left: -2px;
    border-width: 1px;
    padding: 0.5rem 0;
  }

  .dropdown-submenu.pull-left {
    /* csslint allow: adjoining-classes */
    float: none;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    /* csslint allow: adjoining-classes */
    left: -100%;
    margin-left: 10px;
  }
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
  border-color: rgb(171, 37, 111, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(171, 37, 111, 0.6);
  outline: 0 none;
}